html { 
    scroll-behavior: smooth; 
}

body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 60px;
}

section {
    padding: 40px;
}

h1 {
    font-size: 50px;
}

h2 {
    color: #38bdf8;
}
h3{
    color: #f8de38;
}

.project-card,
.certificate-card,
.journey-card {

    background-color: #1e293b;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;

}

.project-card img {

    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;

}

.project-card:hover {

    transform: translateY(-5px);
    transition: 0.3s;

}

.project-btn {

    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;

    background-color: #38bdf8;
    color: black;

    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;

}

.project-btn:hover {

    background-color: white;

}

#certifications ul,
#journey ul {

    padding-left: 20px;

}

#certifications li,
#journey li {

    margin-bottom: 10px;

}

a {
    color: #38bdf8;
    text-decoration: none;
}

nav {
    background-color: #020617;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

.background-animation {
    position: fixed;
    width: 100%;
    height: 100%;
    background:
        radial-gradient(circle at top left, #1d4ed8, transparent 30%),
        radial-gradient(circle at bottom right, #7e22ce, transparent 30%);
    z-index: -1;
}

.progress {
    width: 100%;
    background-color: #334155;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress-bar {
    height: 15px;
    border-radius: 20px;
}

.powerbi {
    width: 85%;
    background-color: #facc15;
}

.sql {
    width: 75%;
    background-color: #38bdf8;
}

.python {
    width: 65%;
    background-color: #22c55e;
}

.resume-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #38bdf8;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.resume-btn:hover {
    background-color: white;
}

@media (max-width: 768px) {

    h1 {
        font-size: 32px;
    }

    section {
        padding: 20px;
    }

    nav a {
        display: block;
        margin: 10px;
    }

    .project-card {
        margin-bottom: 20px;
    }
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
    left: 0;
}

#github img {
    width: 100%;
    margin-top: 20px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;   /* controls form size */
}

input,
textarea {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    background-color: #38bdf8;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.light-mode {
    background-color: white;
    color: black;
}

